altair                       
annotated-doc                
annotated-types             
anyio                       
apify_client               
apify_shared                 
attrs                        
beautifulsoup4             
blinker                      
boto3                    
botocore                    
cachetools                 
certifi                      
charset-normalizer          
click                      
colorama                   
dotenv                      
fastapi                      
Flask                        
flask-cors                   
gitdb                       
GitPython                   
google                      
google-ai-generativelanguage 
google-api-core              
google-api-python-client     
google-auth                  
google-auth-httplib2         
google-auth-oauthlib         
google-genai                         
googleapis-common-protos     
grpcio                       
grpcio-status                
gspread                     
h11                          
httpcore                     
httplib2                     
httpx                      
idna                         
impit                        
itsdangerous                
Jinja2                      
jmespath                     
jsonpatch                  
jsonpointer                  
jsonschema                   
jsonschema-specifications    
langchain-aws                
langchain-core              
langsmith                   
MarkupSafe                   
more-itertools              
narwhals                    
numpy                        
oauthlib                    
orjson                       
packaging                  
pandas                       
pillow                   
pinecone                    
pinecone-plugin-assistant    
pinecone-plugin-interface    
pip                         
plotly                      
proto-plus                 
protobuf                    
pyarrow                  
pyasn1                       
pyasn1_modules               
pydantic                    
pydantic_core              
pydeck                     
pyngrok                    
pyparsing               
pyperclip                 
python-dateutil             
python-dotenv               
pytz                         
PyYAML                      
referencing                  
requests                    
requests-oauthlib            
requests-toolbelt            
rpds-py                      
rsa                         
s3transfer                   
six                          
smmap                       
soupsieve                    
starlette                   
streamlit                   
tenacity                     
toml                        
tornado                     
tqdm                         
typing_extensions            
typing-inspection            
tzdata                       
uritemplate                 
urllib3                      
uuid_utils                 
uvicorn                      
watchdog                     
websockets                   
Werkzeug                     
zstandard       
psycopg2-binary            

